
*.exe
bin/Debug/ProyectoSoftware.pdb
obj/Debug/ProyectoSoftware.csproj.GenerateResource.cache
obj/Debug/ProyectoSoftware.exe
obj/Debug/ProyectoSoftware.pdb
obj/Debug/ProyectoSoftware.csproj.CoreCompileInputs.cache
obj/Debug/ProyectoSoftware.csproj.CoreCompileInputs.cache
obj/Debug/ProyectoSoftware.csproj.FileListAbsolute.txt
ProyectoSoftware.csproj
